/**************/
/* NAVIGATION */
/**************/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ebfbee;
    height: 9.6rem;
    padding: 0 4.8rem;
}

.logo {
    font-family: 'Comfortaa', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    text-decoration: none;
}

.nav-list {
    display: flex;
    gap: 4.8rem;
    align-items: center;
    list-style: none;
}

.nav-list-item:link,
.nav-list-item:visited {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
    color: #0d2913;
    text-decoration: none;
    transition: all 0.3s;
}

.nav-list-item:hover,
.nav-list-item:active {
    color: #2b8a3e;
}

.nav-list-item.nav-cta:link,
.nav-list-item.nav-cta:visited {
    font-weight: 600;
    padding: 1.2rem 1.6rem;
    border-radius: 50px;
    color: #fff;
    background-color: #2b8a3e;
}

.nav-list-item.nav-cta:hover,
.nav-list-item.nav-cta:active {
    background-color: #226e32;
}

/****************/
/* HERO SECTION */
/****************/

.section-hero {
    background-color: #ebfbee;
    padding: 3.2rem 0 6.4rem 0;
}

.hero {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.2rem;
    align-items: center;
    justify-items: center;

    max-width: 100rem;
    margin: 0 auto;
}

.hero-text-box {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;

    padding: 0 25rem;
    z-index: 1;
}

.hero-description {
    font-size: 2rem;
    line-height: 1.6;
    color: #1a5325;
    margin-bottom: 4.8rem;
}

.hero-btn {
    display: flex;
    gap: 3.2rem;
}

.hero-img-box {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero-img {
    width: 65%;
}

/********************/
/* CUSTOMER SECTION */
/********************/

.section-customer {
    padding: 6.4rem 0 3.2rem 0;
}

.heading-customer {
    font-family: 'Comfortaa', sans-serif;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.75px;
    font-weight: 700;
    margin-bottom: 2.4rem;
    color: #888;
}

.customer-logos {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.customer-logos img {
    height: 3.2rem;
    filter: brightness(0);
    opacity: 50%;
}

.customer-data {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 1.2rem;
    max-width: 75rem;
    margin: 4.8rem auto 0 auto;
    padding: 3.2rem 1.6rem;
    border-radius: 25px;
    box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.08);
    transition: all 0.5s;
}

.customer-data:hover {
    transform: scale(1.05);
    box-shadow: 0 3.2em 6.4rem rgba(0, 0, 0, 0.04);
}

.data-number,
.data-text {
    font-family: 'Comfortaa', sans-serif;
}

.data-number {
    font-size: 3.5rem;
}

.data-text {
    font-size: 1.2rem;
    text-transform: uppercase;
}
